body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    max-width: 80%;
}
header i {
    font-size: 40px;
    color: #00d8ff;
    padding-right: 10px;
}

 header h3 {
     padding-left: 55px;
 }
h1, h3, h4 {
    margin: 0;
}
i, h1{
    display: inline-block;
    padding-bottom: 10px;
}

/***** CLASSES *****/


