* {
    box-sizing: border-box;
}
body {
    max-width: 80%;
    margin: 0 auto;
    color: #4c4c4c;
    font-family: 'Montserrat', sans-serif;
}

header i {
    font-size: 35px;
    color: #00d8ff;
}

 header h3 {
     padding-left: 55px;
 }
h1, h3, h4 {
    margin: 0;
}
h1{
    display: inline-block;
    padding-bottom: 10px;
}
h1{
    padding-left: 10px;
}
/*** RSVP SECTION***/
#registration {
    text-align: center;
    background: linear-gradient(90deg, #d4eece, #55b3d0, #1e7eb7),
    url('img/reactjs.jpg') no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 280px;
}

#registration h1 {
    font-size: 60px;
    color: #dedede;
    margin-top: .8em;
    margin-bottom: 0;
}
/**  FORM  **/
#registration form {
    margin: 7.55em auto 0;
    z-index: 3000;
    position: relative;
    width: 60%;
    background: white;
    display: inline-block;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0,0,0, .12);
}
#registration input {
    padding: 12px;
    font-size: 1.15em;
    width: 100%;
    border: none;
    outline: none;
}


#registration button {
    padding: 0 1em;
    font-size: 1em;
    background: #7bcbc4;
    border-radius: .2em;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
/*** INVITES SECTION***/
#registration__main {
    padding: 3.8em 1.5em .75em;
    background: #f5f5f5;
}
#registration__main h2 {
    color: #323232;
}
/*** INVITES LIST***/
ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 1em;
    display: -webkit-flex;
    display: flex;
    clear: both;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.25em;
}
ul li {
    padding: 1em;
    background: #fff;
    border-radius: .2em;
    border: solid 1px rgba(88, 183, 205, .2);
    border-bottom: solid 2px rgba(88, 183, 205, .2);
    position: relative;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 47.5%;
    flex-basis: 47.5%;
    margin: 0 1.25% 1em;
}
li label {
    font-size: .9em;
    display: block;
    color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text] {
    color: #707070;
    font-size: 1.3em;
    margin-bottom: .3em;
}
li input[type=text] {
    padding: .2em;
    width: 95%;
    border: 1px dotted rgba(0,0,0, .2);
}
li label {
    font-size: .9em;
    display: block;
    color: rgba(112, 112, 112, .55);
}
li span,
li input[type=text]:first-child {
    display: block;
}
/* RESPONDED */
.responded {
    transition: 0.4s;
    border-color: rgba(88, 183, 205, .9);
}
.responded label {
    transition: 0.4s;
    color: rgba(88, 183, 205, 1);
}


/***** ROTATE LOGO *****/
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.rotate {
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         1.7s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
